* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.site-header {
    background-color: #fffac7;
    padding: 20px;
    text-align: left;
}

.nav-bar {
    display: flex;
    justify-content: right
}

.nav-bar a:hover {
    background-color: #8fd2ff;
    border-radius: 5px;
}

.nav-bar a {
    margin-top: -30px;
    padding: 5px;
    color: #333;
    text-decoration: none;
    margin-right: 20px;
}

.hero {
    background-image: url("images/heroImage.jpg");
    background-size: cover;
    background-size: center;
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 40px;
}

.hero-text {
    font-size: xx-large;
    padding: 20px;
    margin-bottom: 50px;
}

.hero-text p{
    font-size: x-large;
    margin-bottom: 50px;
}

.buttons {
    font-size: large;
}

.buttons a {
    background-color: #8fd2ff;
    color: #FFFFFF;
    padding: 12px 20px;
    margin-right: 10px;
    margin-top: 5px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.buttons a:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #fffac7;
    padding: 20px;
}

.menu {
    text-align: center;
    padding: 40px;
}

.menu h2{
    text-align: left;
    padding: 30px;
}

.menu h3 {
    text-align: center;
    padding: 10px;
    font-size: medium;
}

.signature-cakes {
    padding: 40px;
    text-align: center;
}

.cake-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.cake-item {
    width: 30%;
}

.cake-item p{
    margin-top: 10px;
    font-weight: bold;
}

.cake-item img {
    width: 90%;
}

.cake-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px #aeaeae;
}

.order-page {
    text-align: center;
    padding: 40px;
}

.order-page p {
    text-align: center;
    margin-bottom: 50px;
}

.order-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.order-box {
    display: flex;
    gap: 20px;
    border-radius: 10px;
    padding: 30px;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.order-box img {
    width: 30%;
    border-radius: 10px;
}

.order-text h2 {
    text-align: left;
    padding: 10px;
}

.order-text p {
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
}

.price {
    font-weight: bold;

}

.popup {
    position: fixed;
    inset: 0;
    background:rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    z-index: 1000;
    padding: 20px;
}

.signature-popup-content {
    background: #FFFFFF;
    padding: 30px;
    width: 90%;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.signature-popup-content h2 {
    margin-bottom: 20px;
}

#popup-signature:checked + .popup {
    display: flex;
}

#popup-seasonal:checked + .popup {
    display: flex;
}

#popup-custom-single:checked + .popup {
    display: flex;
}

#popup-custom-2Tier:checked + .popup {
    display: flex;
}

#popup-custom-vintage:checked + .popup {
    display: flex;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.order-button {
    background-color: #7ec7f9;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.add-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background:#8fd2ff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.seasonal-popup-content {
    background: #FFFFFF;
    padding: 30px;
    width: 90%;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.seasonal-popup-content h2 {
    margin-bottom: 20px;
}

.seasonal-options input[type="radio"] {
    margin-bottom: 20px;
}

.custom-single-popup-content {
    background: #FFFFFF;
    padding: 30px;
    width: 90%;
    border-radius: 10px;
    position: relative;
    text-align: left;
    overflow-y: auto;
}

.custom-single-popup-content h2 {
    margin-bottom: 20px;
}

.custom-options input[type="radio"] {
    margin-bottom: 20px;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}

.option-button {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    width: 120px;
}

.seasonal-option-button {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    width: 300px;
}

.button:hover {
    background-color: #d0d0d0;
}

input[type="radio"]:checked + .option-button {
    background-color: #fffac7;
    color: #000000;
}

input[type="radio"]:checked + .seasonal-option-button {
    background-color: #fffac7;
    color: #000000;
}

.flavors p{
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.colors p{
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.piping-colors p{
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.custom-message {
    margin-top: 40px;
}

.custom-message textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    resize: none;
    margin-top: 10px;
}

.custom-2Tier-popup-content {
    background: #FFFFFF;
    padding: 30px;
    width: 90%;
    border-radius: 10px;
    position: relative;
    text-align: left;
    overflow-y: auto;
}

.custom-vintage-popup-content {
    background: #FFFFFF;
    padding: 30px;
    width: 90%;
    border-radius: 10px;
    position: relative;
    text-align: left;
    overflow-y: auto;
}